/*  -------- FONTS -------- */
@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format('woff');font-weight:400;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format('woff');font-weight:500;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format('woff');font-weight:500;font-style:italic}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format('woff');font-weight:600;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format('woff');font-weight:700;font-style:normal}

/*  -------- HTML, BODY VALUES -------- */
html,
body {
    font-family: sofiapro, Helvetica, Arial, sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*  -------- NAVIGATION BAR -------- */
header{
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    display: flex;
    height: 72px;
    width: 100%;
    padding: 0 26px;
    justify-content: space-between;
}

/*  -------- HEADER LOGO -------- */
.logo{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
}

/*  -------- MOBILE NAV-LIST -------- */

.menu-list, .inputField{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transform: translate(0);
  transform-origin: left;
}

.addStudio{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem;
  background-color: #fff;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.1);
}

/*  -------- CLOSE BUTTON -------- */
.close{
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.addStudio a{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.13rem;
  background-color: #4a4a4a;
  color: #fff;
}

.addStudio a:hover{ background-color: #000;}

.mobile-menu{
  line-height: 1.5;
  color: #4a4a4a;
}

/*  -------- MOBILE VIEW -------- */
/* .nav-link{
  display: none;
} */

.show{
  top: 0;
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.inputGroup{
  margin: 6rem 1.4rem 0 1.4rem;
  width: 90%;
  height: 60px;
  border-bottom: 2px solid #000;
}

.inputGroup::before{
  content: 'Tip: You can search studios by city, address, or zip code.';
  position: absolute;
  top: 120%;
  color: #4a4a4a;
}

.inputGroup i{
  font-size: 1.4rem;
}

.inputGroup input{
  background: none;
  outline: none;
}

.menuToggler{
  cursor: pointer;
}




/*  -------- MAIN -------- */
.main-box-img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 47%;
}

.box-text-2 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -.5px;
  opacity: 1;
  position: relative;
}

.intro {
  font-size: .9rem;
  color: #ccc;
  letter-spacing: 2px;
}

.session { 
  font-size: 2.25rem;
  line-height: .9;
}


/*  -------- REUSABLE COMPONENTS -------- */
.spacer { 
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.container { padding: 1.5rem 7.5vw;}

.btn-type-2 { background-color: #c4a03e;}
.font-type-1 { 
  color: #c4a03e;
  font-size: .8rem;
}
.text-color { 
  color: #4a4a4a;
  font-weight: 500;
}
.text-color:hover { color: #000;}
.text-color2 {color: #4a4a4a;}
.text-color2:hover { color: #4a4a4a;}


.price { 
  color: #999;
  font-size: 1.3rem;
}
.time, .rating { 
  color: #4a4a4a;
  font-size: .8rem;
}

.name { 
  color: #4a4a4a;
  font-size: 1.4rem;
}

.booking { 
  color: #999;
  font-size: .9rem;
}

.text-size { font-size: 1.1rem;}
.text-bg { color: #4a4a4a;}
.text-bg:hover { color: #4a4a4a;}

.hero-box {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.main-box-1 { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-box-img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15%;
}

.main-box-text { padding: 3rem 3.75rem;}
.box-text-1 {
  color: #fff;
  font-size: 1.87rem;
  line-height: 1.3;
  letter-spacing: -.5px;
  opacity: 1;
  position: relative;
}

.main-box-btn {
  font-size: 14px;
  background-color: #fff;
  position: relative;
}

.main-box-btn:hover { background-color:#e7e7e7}

.main-sub-box-1 {
  position: relative;
  width: 100%;
  border-radius: 4px;
}

.sub-box-1 {  padding-bottom: 100%;}

.sub-box-text-1{
  background-color: rgba(0,0,0,.2);
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0,0,0,.4);
  transition: .1s ease-in-out;
}

.sub-box-text-2 {
  font-size: 1.5rem;
  z-index: 1;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}


.sub-box-img-1 {
  position: absolute;
  object-fit: cover;
  transition: .1s ease-in-out;
}

.sub-box-text-1:hover { 
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
}

.sub-box-img-2:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.hyper-link {
  font-size: 1.2rem;
  color: #000;
  text-decoration: underline;
}

.hyper-link:hover {
  color: #4a4a4a;
  text-decoration: none;
}

.icon { 
  font-size: .8rem;
  color: goldenrod;
}
.badge { font-size: .8rem;}

.bg-works {
  background-color: #f8f8f8;
}

.step {
  font-size: 1.2rem;
  color: #4a4a4a;
}

.step-para {
  font-size: .9rem;
  color: #4a4a4a;
}


footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e7e7e7;
  width: 100%;
}

.social-icon {
  color: #4a4a4a;
  font-size: 1.2rem;
}

.badge-color { background-color: #006a70;}

.iPhone-mockup { align-self: flex-end;}

    



  /*  -------- BREAKPOINTS -------- */

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {}


  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .container { padding: 1rem 2vw;}

    header{ display: flex;}

  /*  -------- HIDDEN ELEMENTS -------- */
  .menuToggler, .searchIcon, .mobile-menu, .close, .inputField .inputGroup::before{
      display: none;
      pointer-events: none;
  }

  /*  -------- VISIBLE ELEMENTS -------- */
  .searchBar{
      height: 100%;
      width: 100%;
      flex: 1fr;
  }
  .inputField, .menu-list{
      opacity: 1;
      transform: scale(1);
      position: static;
  }

  .inputField .inputGroup{
      position: static;
      margin: 0;
      height: 100%;
      width: 100%;
      border: none;
  }

  .inputField .inputGroup input{
      width: 100%;
      height: 100%;
  }

    /*  -------- MENU -------- */

  .menu{ height: 100%;}

  .menu-list{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 350px;
  }
  .nav-link{
      display: block;
      width: 100px;
  }

  .addStudio a{
    color: #4a4a4a;
    font-size: 1.13rem;
    background: none;
  }
  
  .addStudio a:hover{
    background: none;
   }

  .addStudio{
      height: 100%;
      background: none;
      box-shadow: none;
      width: 150px;
      top: 0;
  }

  .addStudio a:hover, .nav-link:hover{ 
    border-bottom: 3px solid #000;
    color: #4a4a4a;
  }

   .nav-link{
    background: none;
    color: #4a4a4a;
    padding: 1.4rem 0;
  }

  .logo{
      order: 1;
      border-right: 1px solid #e7e7e7;
  }
  .searchBar{ order: 2;}

  .menu{ order: 3}
  }


  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    .main-heading { font-size: 2.5rem;}
  }

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container { padding: 0;}
 }
  
