/*  -------- FONTS -------- */
@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff) format('woff');font-weight:400;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff) format('woff');font-weight:500;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff) format('woff');font-weight:500;font-style:italic}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff) format('woff');font-weight:600;font-style:normal}

@font-face{font-family:sofiapro;src:url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2) format('woff2'),url(https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff) format('woff');font-weight:700;font-style:normal}

/*  -------- HTML, BODY VALUES -------- */
.nav-spacer{ 
  /* border: 2px solid red; */
  margin: 0 10px;
  /* padding: 8px 0; */

}
    
html,
body {
    font-family: sofiapro, Helvetica, Arial, sans-serif;
    color: #000;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.navbar-dark .navbar-toggler-icon  {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }

/*  -------- MOBILE NAVIGATION BAR -------- */
.navbar { padding: 0;}
.navbar-collapse-text { padding: 8rem 0;}
.navbar-dark .navbar-toggler { border-color: transparent;}
.navbar-dark .navbar-toggler { outline: none;}
.navbar-dark .navbar-brand { 
  color: #000;
  font-size: 1.5rem;
}
.navbar-dark .navbar-brand:hover { color: #000;}

.bg-navbar {
   background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.btn-close { font-size: 2rem;}


.offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    right: 100%;
    width: 100%;
    z-index: 2;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(100%);
  } 

  .nav-box-1 { margin-left: -10rem;}

  
/*  -------- MAIN NAVIGATION BAR -------- */
  .sub-nav-box-3 { 
    color: #4a4a4a;
    font-weight: 500;
  }

  .icon-search {
    stroke: #4a4a4a;
  }

  .iconSvg { margin-top: .8rem;}
    
  input[type="search"] {
    border: none;
    color: #999;
  }
  input[type="search"]:focus, input[type="search"]:hover {
    color: #4a4a4a;
    outline: none;
  }

  input::placeholder{  color: #999;}
  input:hover::placeholder{ color: #4a4a4a;}

  
  .icon {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #e7e7e7;
  }

 .sub-nav-box-3:hover {
    cursor: pointer;
    border-bottom: 3px solid #4a4a4a;
  }





/*  -------- MAIN -------- */

main { padding-top: 10rem;}

/*  -------- REUSABLE COMPONENTS -------- */
.btn-type-1 { background-color: #4a4a4a;}
.text-bg { color: #4a4a4a;}
.text-bg:hover { color: #4a4a4a;}

/* 

.carousel-caption-text {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 23%;
  z-index: 10;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
  text-align: left;
}

.carousel-caption-btn {
  position: absolute;
  bottom: -20px;
  left: 23%;
  z-index: 10;
  font-weight: 500;
  background-color: #fff;
}

.carousel-caption-btn:hover { 
  background-color: #4a4a4a;
  color: #fff;
}



.carousel-caption-img { 
  height: 80vh;
  position: relative;
  object-fit: cover;
  object-position: 15%;
}

.carousel-caption-img2 { 
  height: 60vh;
  position: relative;
  object-fit: cover;
  object-position: 15%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  opacity: 0.9;
}

.carousel-caption-text2 {
  /* font-size: 2rem;
  font-weight: 600;
  position: absolute;
  bottom: -105%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.4); */

/*    
      z-index: 1;
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; */
      /* /* height: 100%; */
      margin: 0;
      /* background-color: #000; */
      background-color: rgba(0,0,0,.2);
      text-shadow: 1px 1px 2px rgba(0,0,0,.4);
      transition: .1s ease-in-out;
  }

.box-img-1:hover {
  /* background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
  /* background-color: #000;
  cursor: pointer;
  opacity: 1; */
    
} */





  /*  -------- BREAKPOINTS -------- */

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {}


  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .navbar-dark .navbar-toggler {
      display: none;
  }

    

  }


  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .navbar-dark .navbar-brand { font-size: 1.5rem;}

    .nav-box-3 { margin-left: 5rem;}
     
    .text-lg-size { font-size: 1.2rem;}

    ::placeholder { font-size: 1.2rem;}
    .iconSvg { margin-top: 1.3rem;}
    .search-box { margin-top: 1.2rem!important;}
      
 
  }

  /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav-box-3 { margin-left: 35rem;}

 }
  